@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    background-color: #DBE4EE;
    color: #054A91;
}

/* headings */

h1 , h2 {
    font-family: 'Bebas Neue', cursive, sans-serif;
}

h1 span {
    color: #F17300;
}

/* logo and navigation bar*/

#logo {
    float: left;
    padding: 15px;
    font-size: 250%;
    letter-spacing: 3px;
}

#menu {
    padding: 15px; 
}

#menu li {
    display: inline;
    float: right;
    padding: 15px;
    font-size: 110%;
    font-weight: 800;
}

#menu a {
    text-decoration: none;
    color: #054A91;
}

#menu a:hover {
    border-bottom: 3px solid #F17300;
}

.active {
    border-bottom: 2px solid #F17300;
}

/* hero image */

#hero-image {
    height: 580px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

/* cover text */

#cover-text {
    height: 60px;
    width: auto;
    position: absolute;
    bottom: 430px;
    left: 65px;
}

#cover-text h1 {
    font-size: 120px;
    letter-spacing: 5px;
    display: table;
}

#cover-text p {
    font-size: 300%;
    color:#F17300;
    display: inline;
}

#cover-text h1 , p {
    background-color: rgb(219, 228, 238, 0.9);
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 10px;
}

/* animation slide-left for cover text*/

.slide-left {
    width: 100%;
    animation: 4s slide-left;
 }
 
 @keyframes slide-left {
     from {
        margin-left: -80px;
     }
 
     to {
        left: 65px;
     }
  }

  /* About Us */

  #about-us-image {
    height: 500px;
    padding: 80px 50px;  
}

#about-us-image img {
    width: 40%;
    height: 500px;
    object-fit: cover;
    border: 6px #F17300 solid;
}

#about-us-text {
    width: 45%;
    height: 500px;
    position: relative;
    left: 50%;
    bottom: 600px;
}

#about-us-text h2 {
    font-size: 350%;
    text-align: center;
    padding: 15px;
    text-decoration: #F17300 underline;
}

#about-us-text p {
  font-size: 140%;
  text-align: justify;
  padding: 15px;
}
