@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    background-color: #DBE4EE;
    color: #054A91;
}

hr {
    border: 2px solid #054A91;
}

/* headings */

h1 , h2 {
    font-family: 'Bebas Neue', cursive, sans-serif;
}

h1 span {
    color: #F17300;
}

/* logo and navigation bar*/

#logo {
    float: left;
    padding: 15px;
    font-size: 250%;
    letter-spacing: 3px;
}

.menu {
    padding: 15px; 
}

.menu li {
    display: inline;
    float: right;
    padding: 15px;
    font-size: 110%;
    font-weight: 800;
}

.menu a {
    text-decoration: none;
    color: #054A91;
}

.menu a:hover {
    border-bottom: 3px solid #F17300;
}

.active {
    border-bottom: 2px solid #F17300;
}

/* hero image */

#hero-image {
    height: 580px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

/* cover text */

#cover-text {
    height: 60px;
    width: auto;
    position: absolute;
    bottom: 430px;
    left: 65px;
}

#cover-text h1 {
    font-size: 120px;
    letter-spacing: 5px;
    display: table;
}

#cover-text p {
    font-size: 300%;
    color:#F17300;
    display: inline;
}

#cover-text h1 , p {
    background-color: rgb(219, 228, 238, 0.9);
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 10px;
}

/* animation slide-left for cover text*/

.slide-left {
    width: 100%;
    animation: 4s slide-left;
 }
 
 @keyframes slide-left {
     from {
        margin-left: -80px;
     }
 
     to {
        left: 65px;
     }
  }

  /* About Us */

#about-us {
    height: 600px;
    width: 100%;
}

#about-us-image {
    height: 500px;
    padding: 80px 50px;  
}

#about-us-image img {
    width: 450px;
    height: 450px;
    margin-left: 120px;
    object-fit: cover;
    border: 6px #F17300 solid;
}

#about-us-text {
    width: 550px;
    height: 550px;
    position: relative;
    left: 50%;
    bottom: 600px;
}

#about-us-text h2 {
    font-size: 300%;
    text-align: left;
    padding: 15px;
    letter-spacing: 3px;
}

#about-us-text p {
    font-size: 120%;
    text-align: left;
    padding: 15px;
    margin-right: 60px;
}
/* What we offer */

#services-box {
    width: 950px;
    margin: auto;
  }

  #services-box h2 {
    text-align: center;
    margin: 20px 0px;
    font-size: 300%;
    padding: 15px;
    letter-spacing: 3px;
}

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 880px;
    padding: 10px;
    margin-left: -60px;
  }

  .service-card {
    width: 280px;
    text-align: center;
    padding: 20px;
    margin: 8px;
  }
  
  .service-card img {
    width: 220px;
    height: 220px;
    border-radius: 50px;
    object-fit: cover;
  }
  
  .service-card h3 {
    margin: 15px 0px 15px 0px;
    text-align: center;
  }

  /* Our Clients */

  #testimonials-box {
    width: 950px;
    margin: auto;
  }

  #testimonials-box h2 {
    text-align: center;
    margin: 20px 0px;
    font-size: 300%;
    padding: 15px;
    color: #DBE4EE;
    letter-spacing: 3px;
}

  #our-clients {
    background:#3E7CB1;
    width: 100%;
    height: 580px;
  }

  .testimonial-card {
    width: 280px;
    text-align: center;
    padding: 20px;
    margin: 15px;
  }

  .testimonial-card img {
    width: 220px;
    height: 220px;
    border-radius: 100px;
    object-fit: cover;
  }
  
  .testimonial-card h3 {
    color:#DBE4EE;
    margin: 15px 0 15px 0;
    text-align: center;
  }

  .testimonial-card p {
    color:#DBE4EE;
    margin: 15px 0 15px 0;
    text-align: center;
    background: none;
  }

    /* Newsletter */

#newsletter {
    width: 100%;
    height: 200px;
    text-align: center;
    border: 5px dotted #F17300;
    background-color: #3E7CB1;
    color: #DBE4EE;
    padding: 10px;
 }
  
#newsletter h3 {
    font-size: 100%;
    margin: 30px;
}

#newsletter p {
    width: 60%;
    text-align: center;
    margin-left: 300px;
    background: none;
}

#e-mail {
    width: 250px;
    height: 40px;
    margin: 30px 0px 20px 0px;
    border-radius: 15px;
    font-size: 15px;
 }

#submit-newsletter {
    width: 150px;
    height: 40px;
    margin: 30px 0px 20px 0px;
    border-radius: 15px;
    font-size: 15px;
    color: #DBE4EE;
    background-color: #054A91;
}
  
/* Footer */

.social-media li{
    display: inline;
    float: left;
    margin: 15px;
    font-size: 25px;
}

.social-media a {
    text-decoration: none;
    color: #054A91;
}

footer > p {
    display: inline;
    float: right;
    margin: 20px;
}

/* Services */

#services-table {
    width: 100%;
    height: 900px;
    background-color: #3E7CB1;
    margin: auto;
    margin-top: 50px;
    color:#DBE4EE;
   text-align: center;
}

#services-table h2 {
    text-align: center;
    margin: 20px 0px;
    font-size: 300%;
    padding: 15px;
    letter-spacing: 3px;
}

table {
    width: 40%;
    display: -webkit-inline-box;
    margin: auto;
    border: 3px solid #F17300;
}

th, td {
    padding: 15px;
    text-align: left;
  }

/*
#table-1 {
    width: 50%;
    float: left;
}

#table-2 {
   width: 50%;
   float: left;
   
    /*position: relative;
    left: 40%;
    bottom: 800px;*/
}


